.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    background-color: aquamarine;
}

.field {
    margin: 0 10px;
    text-align: center;
}

.value {
    font-weight: bold;
    font-size: 30px;
}

.label {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 5px;
}